.header-nav-item:hover {
    cursor: pointer;
    background-color: #1c8a9b;
}

.header-nav-title {
    display: block;
}

.header-title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}