.header-selected {
    background-color: rgb(14, 138, 173);
}

.header-nav-item:hover {
    cursor: pointer;
    background-color: rgb(14, 138, 173);
}

.header-nav-title {
    display: block;
}

.header-title {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}