/* For main layout */

.main {
    height: 95vh;
    width: 100vw;
    padding: 0 5vw 0 5vw;
}


/* For main content */

.location {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 10px darkblue solid;
    margin: 10px 0 0 0;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.block-sub-title {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px 0;
}

.block-stats {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.block-case {
    background-color: lightsalmon;
}

.block-treating {
    background-color: lightskyblue;
}

.block-recovered {
    background-color: lightgreen;
}

.block-death {
    background-color: lightgray;
}