<h1>Dự án thống kê số ca mắc NCOVI (COVID19)</h1>
<p>Welcome to NCOVI detail project</p>
<div class="mb-4">
    <button type="input" class="btn-danger" onclick="window.location.href='/vietnam'">Xem thống kê của Việt Nam</button>
    hoặc
    <button type="input" class="btn-warning" onclick="window.location.href='/world'">Xem thống kê của Thế giới</button>
</div>