<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bảng tin covid19</title>
  <link rel="icon" href="/icons8_Coronavirus.ico">
  <link rel="stylesheet" href="/bootstrap/5.2.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/table.css" />
  <link rel="stylesheet" href="/css/chart.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/mobile-device.css" />
  {{!--
  <script src="/bootstrap/5.2.1/js/bootstrap.min.js"></script> --}}
  <script src="/js/chart/chart.min.js"></script>
</head>

<body>
  <div class="main">
    <nav class="nav bg-info">
      <a class="{{renderNavClass path '/'}}" href="/">
        <img src="/images/icons/house-door.svg" alt="home" />
        &ensp;
        <span class="header-nav-title">Trang chủ</span>
      </a>
      <a class="{{renderNavClass path '/stats'}}" href="/stats">
        <img src="/images/icons/file-spreadsheet.svg" alt="stats" />
        &ensp;
        <span class="header-nav-title">Bảng biểu</span>
      </a>
      <a class="{{renderNavClass path '/chart'}}" href="/chart">
        <img src="/images/icons/bar-chart-line.svg" alt="chart" />
        &ensp;
        <span class="header-nav-title">Thống kê</span>
      </a>
    </nav>
    <div class="mt-2 mb-2 modal-update">
      <img src="/images/icons/exclamation-triangle-fill.svg" class="modal-update-icon" alt="warning" />
      &nbsp;
      This data is out of update! We have a problem when getting data. Please raise new issue at
      &nbsp;
      <a class="modal-update-issue" href="https://github.com/hhpr98/ncovi-detail/issues">link</a>
    </div>
    {{{body}}}
  </div>
  <div class="footer">
    <p class="bg-dark text-light text-center">Copyright @2022 Nguyễn Hữu Hòa</p>
  </div>
</body>

</html>