<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NCOVI detail</title>
  <link rel="icon" href="/icons8_Coronavirus.ico">
  <link rel="stylesheet" href="/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/footer.css" />
</head>

<body>
  <div class="container">
    <nav class="nav bg-info">
      <a class="nav-link text-white header-title" href="/">Trang chủ</a>
    </nav>
    {{{body}}}
  </div>
  <div class="layout-footer">
    <p class="bg-dark text-light">Copyright @2022 Nguyễn Hữu Hòa</p>
  </div>
</body>

</html>