<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NCOVI detail</title>
  <link rel="icon" href="/icons8_Coronavirus.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <nav class="nav bg-info">
      <a class="nav-link text-white" href="/">Trang chủ</a>
      <a class="nav-link text-danger" href="/vietnam">Việt Nam</a>
      <a class="nav-link text-warning" href="/world">Thế giới</a>
    </nav>
    {{{body}}}
    <div class="row">
      <div class="col-md-12">
        <p class="bg-dark text-light">Copyright @2022 Nguyễn Hữu Hòa</p>
      </div>
    </div>
  </div>
</body>

</html>